<footer class="row" style="margin: 0; width: 100%; height: 150px; background-color: #eee;">
    <div class="col-sm d-flex flex-column justify-content-around align-items-center">
        <a href="https://github.com/leonardomeira"><i class="fab fa-github text-secondary" style="font-size: 48px"></i></a>
    </div>
    <div class="col-sm d-flex flex-column justify-content-center align-items-center">
        <p class="text-center text-secondary">2021 - by Leonardo Meira.</p>
        <p class="text-center text-secondary">Este é um projeto com objetivos acadêmicos e sem fins lucrativos.</p>
    </div>
    <div class="col-sm d-flex flex-column justify-content-around align-items-center">
        <a href="https://www.linkedin.com/in/leonardo-meira-a43b081b3/"><i class="fab fa-linkedin text-secondary" style="font-size: 48px"></i></a>
    </div>
</footer>