<%- include ('../../partials/head.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <h1>Em construção</h1>
</div>

<%- include ('../../partials/pageFooter.ejs') %>
<%- include ('../../partials/footer.ejs') %>