<%- include ('../../partials/head.ejs') %>
<%- include ('../../partials/homeNavbar.ejs') %>

<div class="container pt-5 pb-5" style="width: 40%">
    <div>
        <div class="card-header">
            <h2>Registro de Usuário</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/register">
                <label for="email">E-mail</label>
                <input class="form-control mb-3" id="email" type="email" name="email">
                <label for="password">Senha</label>
                <input class="form-control mb-3" id="password" type="password" name="password">
                <button type="submit" class="btn btn-info btn-block"><strong>Registrar</strong></button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/pageFooter.ejs') %>
<%- include ('../../partials/footer.ejs') %>
